body{
  background-repeat: no-repeat;
  background-size:cover;
}

.main-div{
	margin-top:150px;
	background-color: rgba(34,67,56,0.5);
	min-width: 400px;
	padding-top: 80px;
	padding-bottom: 80px;
  border-radius: 20px;
}

input[type=text] {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	 -webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	border-radius: 25px;
}

input[type=text]:focus {
  width: 50%;
}
