body{
  background-repeat:no-repeat;
  background-size:cover;
	background-color:lightgrey;
}

#main-div{
	margin-top:150px;
	background-color: rgba(34,67,250,0.5);
	min-width: 400px;
	padding-top: 80px;
	padding-bottom: 80px;
  border-radius: 20px;
}

.button{
	color: red;
	width: 150px;
}

input[type=text] {
	//width: 250px;
	box-sizing: border-box;
	border: 2px solid red;
	font-size: 16px;
	color: gray;
	padding: 12px 20px 12px 40px;
	 -webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	border-radius: 15px;
	background-color: white;
  background-image: url(../img/search.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
	//width: 50%;
	margin-top: 60px; 
	margin-left: auto;
	margin-rigth: auto;
	//vertical-align: middle;
}

input[type=text]:focus {
  width: 70%;
}

button[type=cancel] {
	margin-left: -66px;
	background: none;
	border: none;
	font-size: 16px;
	color: gray;
}

#input-div{
	display:none;
	margin: auto;
  text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.list-item{
	background-color:ligthred;
	min-width: 400px;
	list-style-type: none;
	display:none;
	border-radius: 6px;
	border: 1px solid blue;
	margin-top: 10px;
}

#titleResult{
 text-align: center;
}

#newSearchButton{
	margin-top:30px;
}

#searchResultTitle {
	display:none;			
}
